<appSettings>
	<add key="OpcConfigFile" value="..\..\OpcConfigFiles\Local.opc.config" />
	<add key="DefaultOpcServer" value="opcda:///{A_Server}" />
	<add key="OpisenseUserName" value = "{A_Name}"/>
	<add key="OpisenseUserPassword" value = "{A_Password}" />
	<add key="ClientApiKey" value ="{A_Key}" />
	<add key="ClientSecretKey" value ="{A_Secret}" />
	<add key="IdentityTokenUrl" value="https://identity.opinum.com/connect/token" />
	<add key="PushUrl" value="https://push.opinum.com/api/standard" />
</appSettings>